@import "tailwindcss";

@theme {
    --color-mustard-yellow: hsl(47, 88%, 63%);
    --color-deep-gray: hsl(0, 0%, 42%);
    --color-dark-gray: hsl(0, 0%, 7%);
    --color-ocean: hsl(228, 45%, 44%);

    --font-figtree: 'Figtree';
}

@layer base {
    * {
        @apply box-border p-0 m-0;
    }

    body {
        @apply grid min-h-dvh grid-rows-[1fr_auto] place-content-center place-items-center font-medium text-dark-gray bg-mustard-yellow;
    }

    h1 {
        @apply font-figtree text-[clamp(1.1rem,5vw,1.5rem)] font-extrabold hover:text-mustard-yellow cursor-pointer
    }

    main {
        @apply max-w-[380px] m-6 p-4 bg-white rounded-2xl shadow-[8px,8px,text-dark-gray] border-2 border-dark-gray
    }

    img {
        @apply rounded-[8px] max-w-full
    }
}

@layer components {
    .margin-top {
        @apply mt-4
    }

    .main__subtitle {
        @apply font-extrabold bg-mustard-yellow p-1.5 max-w-fit rounded-[6px]
    }

    .main__subtitle-hover {
        @apply hover:bg-dark-gray hover:text-mustard-yellow
    }

    .main__description {
        @apply leading-6 text-[clamp(.8rem,4vw,1rem)] text-deep-gray
    }

    .simple-transition {
        @apply transition-colors duration-300
    }
}