@import "tailwindcss";

@theme {
    --color-black: hsl(0, 0%, 8%);
    --color-dark-gray: hsl(0, 0%, 12%);
    --color-light-gray: hsl(0, 0%, 20%);
    --color-lime: hsl(75, 94%, 57%);
    --color-ocean: hsl(228, 45%, 44%);

    --font-inter: 'Inter'
}

@layer base {
    * {
        @apply m-0 p-0 box-border;
    }

    body {
        @apply min-h-dvh grid grid-rows-[1fr_auto] place-content-center place-items-center bg-black text-white font-inter;
    }

    img {
        @apply max-w-full rounded-full w-16 mb-4 inline-block;
    }
}

@layer components {
    .nav-items {
        @apply block no-underline text-inherit bg-light-gray transition-colors duration-75 px-4 py-2.5 rounded-[.5rem] mt-4 font-medium hover:bg-lime hover:text-black;
    }
}