:root {
    --black: hsl(0, 0%, 8%);
    --dark-gray: hsl(0, 0%, 12%);
    --light-gray: hsl(0, 0%, 20%);
    --white: hsl(0, 0%, 100%);
    --lime: hsl(75, 94%, 57%);
    --small-spacing: .5rem;
    --medium-spacing: 1rem;
    --large-spacing: 2rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 1fr auto;
    place-content: center;
    place-items: center;
    background-color: var(--black);
    color: var(--white);
    font-family: Inter;
}

div {
    padding: var(--large-spacing);
    text-align: center;
    background-color: var(--dark-gray);
    border-radius: var(--small-spacing);
}

img {
    max-width: 100%;
    border-radius: 50%;
    width: 70px;
    margin-bottom: var(--medium-spacing);
}

h1 {
    font-size: 1.5rem;
    margin-bottom: var(--small-spacing);
}

span {
    display: block;
    color: var(--lime);
    font-size: 1rem;
    margin-bottom: var(--medium-spacing);
}

p,
nav {
    font-size: 14px;
}

p, footer {
    margin-bottom: var(--small-spacing);
}

nav > a {
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: var(--light-gray);
    transition: background-color 0.07s;
    padding: 0.7rem var(--medium-spacing);
    border-radius: var(--small-spacing);
    margin-top: 1rem;
    font-weight: 500;
}

nav > a:hover {
    background-color: var(--lime);
    color: var(--black);
}

footer {
    font-size: 11px;
    text-align: center;
}

footer a {
    display: inline-block;
    color: hsl(228, 45%, 44%);
    background-color: unset;
}