@import "tailwindcss";

@theme {
    --color-light-blue: hsl(212, 45%, 89%);
    --color-dark-blue: hsl(218, 44%, 22%);
    --color-opaque-blue: hsl(216, 15%, 48%);

    --text-15: 15px;

    --font-outfit: 'Outfit'
}

@layer base {
    body {
        @apply text-15 max-w-[1440px] bg-light-blue grid min-h-dvh grid-rows-[1fr_auto] place-content-center place-items-center m-auto
    }

    p {
        @apply m-0 font-normal text-opaque-blue text-center font-outfit px-1.5
    }
}