@import "tailwindcss";

@theme {
  --color-grey-400: hsl(212, 6%, 44%);
  --color-grey-500: hsl(234, 12%, 34%);
  --color-white: hsl(0, 0%, 100%);
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --color-dark-blue: hsl(228, 45%, 44%);
  --color-twilight-blue: hsla(212 86% 64% / 0.25);

  --font-poppins: 'Poppins'
}

@layer base {
  * {
    @apply p-0 m-0 box-border;
  }

  body {
    @apply max-w-[68.75rem] my-0 m-auto bg-white font-poppins text-[15px] text-grey-400 grid grid-rows-[1fr_auto] place-items-center;
  }

  header, main, footer {
    @apply mx-4;
  }

  h2 {
    @apply text-grey-500 text-2xl font-bold
  }

  section {
    @apply max-w-[326px]
  }

  img {
    @apply self-end justify-self-end mt-5
  }
}

@layer components {
  .cards-container {
    @apply mt-8 flex justify-center flex-wrap self-center items-center gap-8
  }

  .card {
    @apply p-8 rounded-[5px] shadow-[0_5px_9px_hsla(212,86%,64%,0.25)] border-t-4
  }

  .card-description {
    @apply text-[clamp(0.8125rem,0.7612rem+0.2564vw,0.8975rem)];
  }
}
